<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yjz.bookkeeping">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.MsgActivity" />
        <activity android:name=".ui.activity.SetActivity" />
        <activity
            android:name=".ui.activity.BookkeepingEditActivity"/>
        <activity android:name="ui.activity.AboutActivity" />
        <activity android:name=".ui.activity.LicenseActivity" />
    </application>

</manifest>
